button{
    margin:5px;
}
.b{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.bts{
    display: flex;
    flex-direction: row;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}